<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/questboard">
                    <span data-feather="home"></span>
                    Menu System Feedback
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/terminology">
                    <span data-feather="file"></span>
                    Terminology
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/imageFolder">
                    <span data-feather="file"></span>
                    Image folder
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    QuestCollect
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://console.aws.amazon.com/" target="view_window">
                    <span data-feather="file"></span>
                    AWS
                </a>
            </li>
        </ul>
    </div>
</nav>